body {
      font-family: 'Georgia', serif;
      background-color: #f5f5dc;
      color:Black;
      margin: 0;
    }
h1 {
      background-color: #0b6623;
      color: white;
      text-align: center;
      padding: 40px 20px; 
    }

.list-center{
  display: flex;
  justify-content: center;
  text-align: left;
}

.container-list ol,
.container-list ul{
  text-align: center;
  list-style-position: outside;
padding-left: 20px;
}
winners {
      background-color: #ffffff;
      padding: 20px;
      margin: 20px;
      font-family: 'Verdana', sans-serif;
    
    }

.picture-block{
      border: 1px solid green;
      padding: 20 px;
      margin: auto;
      width: auto;
      max-width: 560px;
      background-color: green;
      border-radius: 8px;
    }
    h2{ text-align: center;
    }

.tableau-block{
      border: 1px solid green;
      padding: 20 px;
      margin: auto;
      width: 100;
      max-width: 560px;
      background-color: green;
      border-radius: 8px;
    }
    